.background-img {
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100vw;
   height: 100vh;
   position: fixed;
}

.card {
   box-shadow: 20px 20px 20px hsla(0, 0%, 0%, 0.9);
   backdrop-filter: blur(2px);
   background-color: rgba(255, 255, 255, 0.077);
   transition: 0.5s ease;
   cursor: pointer;
   border-radius: 20px;
   border: none;
   width: 45rem; 
   height: 25rem;
}

.card:hover {
  transform: scale(1.2);
  box-shadow: 20px 20px 20px rgba(142, 0, 0, 0.9);
}

.previewModal--player-titleTreatment-logo {
    height: 200px;
}

.card-text {
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn-primary {
    background-color: #b1060f;
    border: none;
    border-radius: 15px;
}

.btn-primary:hover {
    background-color: #470205;

}



@media (max-width: 1000px) {
    .background-img {
    background-image: url(../img/mobileimg.jpg);
    }
    .card {
        width: 23rem;
        height: 28rem;
        backdrop-filter: blur(3px);
    }
    .card:hover {
        display: none;
    }
    .card-text {
    font-family: serif;
    font-size: 13px;
    }
}
